<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmNfTkyNA5CU_SF7IosEsi-mqM7uJHdXA</string>
	<key>GCM_SENDER_ID</key>
	<string>858852857854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatpi</string>
	<key>PROJECT_ID</key>
	<string>chat-pi-6379e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-pi-6379e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858852857854:ios:236c59721c2b51994c12af</string>
</dict>
</plist>